@import "~/src/index.scss";

.Layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: overlay;

    background-image: linear-gradient(
            to bottom right,
            rgba($color-blue, 0.9),
            rgba($color-violet, 0.5)
        ),
        linear-gradient(rgba($color-black, 1), rgba($color-black, 0.3));
}
