@import './scss/animations.scss';
@import './scss/mixins.scss';
@import './scss/variables.scss';


html {
  @include scrollbar;
  overflow-y: overlay;
}

html, body {
  color: $color-black-light;
  position: relative;
  margin: 0;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}
